*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #262626;
}
h1{
    text-align: center;
    text-shadow: 0 2px 20px #fff;
    font-family: cursive;
    color: #fff;
    text-transform: uppercase;
    margin: 2% 0 0;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    width: 1170px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    height: 70vh;
    margin: 3% auto 0;
}
.content-img{
    flex: 1;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
    transition: all 500ms cubic-bezier(.14,.69,.93,1);
}
.content-img:hover{
    flex-basis: 30vw;
}
